
<h1>Searching for <%= @search_term %>:</h1>

<% if (@recipes.nil? or @recipes == []) %>
  <p><h2>No recipes found containing "<%= params[:search] %>" :(</h2></p>
<% else %>
  <h3> Found <% @recipes.count %> recipes! </h3>
  <p> Ordered by popularity: </p> </br>
  <% @recipes.each do |course| %>
    <!-- Projects Row -->
    <div class="col-md-3 portfolio-item">
        <%= link_to(image_tag(course["image_url"], height: '80%', width: '80%'), course["f2f_url"])%>
        <h4>
          <%= link_to(course["title"], course["f2f_url"]) %>
        </h4>
    </div>

  <% end %>

    <!-- /.row -->

<% end %>
